body {
  background: #000;
  color: #fff;
  padding: 20vw 0;
  font-family: sans-serif;
  font-size: var(--fs-400);
}

.feature-grid {
  align-self: start;
  grid-template-columns: repeat(4, 1fr );
  grid-template-rows: repeat(6, 1fr );
}

.feature-grid :nth-child(1),
.feature-grid :nth-child(4),
.feature-grid :nth-child(5),
.feature-grid :nth-child(7) {
  grid-row: span 3;
}

.feature-grid :nth-child(2),
.feature-grid :nth-child(3) {
  grid-row: span 2;
}

.feature-grid :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}
