:root {
  --clr-primary: #fc307b;
  --clr-accent: #2c92ef;

  --fs-700: 3.5rem;
  --fs-400: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-clr-primary {
  color: var(--clr-primary);
}

.text-clr-accent {
  color: var(--clr-accent);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  padding: 0 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.large-gap {
  --gap: 3rem;
}

.flex {
  display: flex;
  /* defaults to 1rem if custom property not defined */
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--columns {
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}



